
body {
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

header {
    flex: 1 1 0;
    font-weight: bold;
}

main {
    flex: 2 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    padding: 1em;
    background-color: #151f11;
    color: rgb(43, 255, 0);
}

.simulator-input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dice-num-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dice-num-section label {
    font-size: 1.4em;
    font-weight: bold;
}

.dice-num-section input {
    text-align: center;
    margin: .4em auto 0 auto;
    width: 50%;
}

.status-section {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    font-size: 1.4em;

}

.status-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5em;
}

.blessed-word {
    color: #4287f5;
}

.cursed-word {
    color: red;
}

.dice-btn {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.dice-btn button {
    display: block;
}

.end-results {
    margin: 1em auto 15em auto;
    display: flex;
    flex-direction: column;
}

/*Below is to change styling of end results after rolling dice function is called*/

.end-results-after {
    margin: 1em auto;
}

#dice-img-results {
    margin-top: .5em;
    flex-grow: 2;
    text-align: center;
    align-self: center;
}

#dice-img-results img {
    margin: .2em;
}

#num-success {
    flex-grow: 1;
    text-align: center;
    font-size: 1.4em;
}

.successRoll {
    border: 2px solid green;
}

.failedRoll {
    border: 2px solid red;
}

.overview-home-btn {
    margin-top: 1em;
}

.dice-img-bottom {
    padding: 0;
    margin: 0;
    width: 50%;
    height: 50%;
}

footer {
    flex: 1 1 0;
    margin-top: 1em;
}